# Compiled source #
###################
*.o
*.so
*.a
*.out

# Example output #
##################
*.dat

# Dokumentation #
#################
doc/html
doc/latex
doc/doxygen_sqlite3.db

# XCode and other Apple stuff #
###############################
*.DS_Store
*.xcodeproj
*.dSYM
